/* Hier komt de main stijling (voor mobiel) */

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.ttf'); 
} 

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial;
    color: black;  
    background-size: cover;  
}

main {
    margin: auto;
    width: 92.5%;
}
/* Stijling voor de animaties */
#achtergrond {
    background-color: #FFD991;
}

#achtergrond.veranderKleurOchtend {
    transition-duration: 100s;
    background-color: #FFA700;
}

#achtergrond.veranderKleurMiddag {
    transition-duration: 100s;
    background-color: #ff6666;
}

#achtergrond.veranderKleurAvond {
    transition-duration: 100s;
    background-color: #000033;
}

#titel1.veranderTitel {
    color: white;
    transition-duration: 100s;
}

#titel2.veranderTitel {
    color: white;
    transition-duration: 100s;

}
/* Stijling voor de header */

h1, figure{
    font-size: 1.2em;
    border-bottom: 0;
    text-align: center;
}

#logo {
    display: block;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}


/* Stijling voor de articles */

article {
	display: flex;
    background: white;
    text-align: center;
    margin-bottom: 6rem;
    padding: 1rem;
    border-radius: 0.5em;
    box-shadow: 2px 5px #888888;  
}

p {
    margin-top: 7%;
}

#klok, #datum {
    font-size: 4em;
    width:100vw;
}

/* Stijling voor de berichtgeving */
#bericht {
    font-size: 1em;
}

/* Alle berichten worden verborgen */
#slapen, #lunchen, #opstaan{
    display: none;
} 

/* Berichten worden getoond */
#opstaan.laatZien {
    display: inline-block;
}

#lunchen.laatZien{
    display: inline-block;
}

#slapen.laatZien {
    display: inline-block;
}


/* stijling afbeelding berichten */
#slapen-plaatje, #lunchen-plaatje, #opstaan-plaatje{
    width: 40px;
    padding: 20px;
}

/* Telefoon scherm */
@media only screen and (max-width: 700px) {  

    h1 {
        display: none;
    }

}

/* iPad scherm */
@media only screen and (min-width: 700px) and (max-width: 1000px) {  

span{
    margin: 7%;
}

#bericht {
font-size: 30px;
}

#slapen-plaatje, #lunchen-plaatje, #opstaan-plaatje{
width: 75px;
padding-left: 60px;
}
   
}

/* Media querie - Laptop */
@media only screen and (min-width: 1000px) and (max-width: 1700px){

main {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 5%;
    }

#bericht{
    grid-template-columns: 2/2;
}

#bericht {
    font-size: 2em;
}

#slapen-plaatje, #lunchen-plaatje, #opstaan-plaatje{
    display: block;
    width: 20%;
    margin-left: 40%;
}

}

/* Media querie - Desktop */
@media only screen and (min-width: 1700px) {
main {
display: grid;
grid-template-columns: 45% 45%;
grid-column-gap: 5%;
max-width: 1550px;
}

#bericht {
font-size: 2.5em;
}

#slapen-plaatje, #lunchen-plaatje, #opstaan-plaatje {
display: block;
width: 20%;
margin-left: 40%;
}

}
