/* Hier komt de main stijling (voor mobiel) */

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.ttf'); 
} 

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial;
    color: black;  
    /*background-image: url("../images/wereld.png");*/
    background-color: yellow;
    background-size: cover;  
}

main {
    margin: auto;
    width: 92.5%;
}

#achtergrond {
    background-color: #FFD991;
}

#achtergrond.veranderKleurOchtend {
    transition-duration: 100s;
    background-color: #FFA700;
}


/* Stijling voor de header */

h1, figure{
    font-size: 1.2em;
    border-bottom: 0;
    text-align: center;
}

#logo {
    display: block;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}


/* Stijling voor de articles */

article {
	display: flex;
    background: white;
    text-align: center;
    margin-bottom: 6rem;
    padding: 1rem;
    border-radius: 0.5em;
    box-shadow: 2px 5px #888888;  
}

p {
    margin-top: 7%;
}

#klok, #datum {
    font-size: 4em;
    width:100vw;
}

/* stijling afbeelding */
#slapen-plaatje, #opstaan-plaatje{
    width: 40px;
    padding: 20px;
}

/* Telefoon scherm */
@media only screen and (max-width: 700px) {  

    h1 {
        display: none;
    }

}

/* iPad scherm */
@media only screen and (min-width: 700px) and (max-width: 1000px) {  

    span{
        margin: 7%;
    }
   
}

/* Media querie - Laptop */
@media only screen and (min-width: 1000px) and (max-width: 1700px){


main {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-column-gap: 5%;
    }

#bericht{
    grid-template-columns: 2/2;
}

}

/* Media querie - Desktop */
@media only screen and (min-width: 1700px) {
  main {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-column-gap: 5%;
        max-width: 1400px;
    }

  }

}
